* {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 0;
}

h2 {
    margin: 30px;
    color: #f7931e;
    text-align: center;
}

h4 {
    color: #f7931e;
    text-align: center;
    margin: 30px;
}

h5 {
    color: #f7931e;
    text-align: center;
}

p {
    font-size: 14px;
    color: white;
}


/*general classes*/
.desktop-only.hide-on-mobile {
    display: none;
}

.mobile-only {
    display: block;
}

.block {
    text-align: center;
    background: rgb(46, 44, 44);
    color: white;
    margin-top: 20px;
}

.btn {
    background: #eb5e28;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 50px;
    width: 60vw;
    border-radius: 25px;
}
.dark-grey{
    background: #1a1a1a;
}

/*header section*/
.header {
    display: inline-block;
    width: 100%;
}

.icons {
    background: black;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    padding: 8px;
    z-index: 10;
    width: 42px;
    padding-left: 10px;
}

.social{
    margin-top: 8px;
}

.burgerNav {
    background: black;
    border: 1px solid white;
    font-size: 0.5em;
    color: white;
    border-radius: 50%;
    padding: 8px;
    z-index: 10;
    width: 42px;
    padding-left: 10px;
    float: right;
}

.exit {
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    float: right;
    font-size: 1.2em;
    width: 12%;
}

.navbar {
    background: rgb(54, 54, 54);
    display: block;
    text-align: center;
    color: whitesmoke;
    height: 100vh;
}

.navText {
    margin-top: 30%;
    font-weight: 50px;
    font-size: 1.2em;
}

.navLinks {
    display: block;
    margin-top: 10%;
    color: white;
}


/* HI section */
.block{
    padding: 20% 0%;
    margin: 0 1px;
    background: rgb(46, 44, 44);
}

#tagline {
    color: white;
}

.logo {
    width: 92vw;
    margin-top: 10%;
}

.name {
    color: #ffc300;
    letter-spacing: 2px;
    margin-top: 40px;
}




/*About Me Section*/
.aboutblock {
    text-align: center;
    background: rgb(46, 44, 44);
    color: white;
    margin-top: 20px;  
}

.aboutGreyBlock {
    padding: 20px;
}

.myImage {
    margin-top: 15%;
    margin-left: 25%;      
    box-shadow: -20px -20px grey;
    width: 200px;
    border: 1.5px solid white;
}

.aboutContent{
    text-align: justify;
    font-size: 14px;
    margin: 15px;
    padding: 15px;
}

.moreAbout {
    background-color: #eb5e28;
}

.myPic {
    width: 200px;
}


/* I am an ADA graduate Section */
.graduateBlock {
    text-align: center;
    background: rgb(46, 44, 44);
    color: white;
    margin-top: 20px;
}

#adaImg {
    margin: 5%;
    width: 55%;
}

.gradContent {
    text-align: justify;
    margin: 15px;
}

.btn-primary {
    margin-left: 70px;
}


/* Testimonials */
.testimonials {
    background: rgb(46, 44, 44);
    color: white;
    margin-top: 20px;
}




/* Get in touch Section */
.inTouchBlock {
    text-align: center;
    background: rgb(46, 44, 44);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.form-control {
    background: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }

.inputs {
    margin-top: 6px;
    margin-right: 25px;
    margin-left: 25px;
}



/* Footer */
.footer {
    text-align: center;
    color: white;
    margin-top: 70px;
    margin-bottom: 50px;
}





/* ==============================================================================================================================
================================================================================================================================= */

/* RESUME PAGE */
.cvDivs {
    margin: 20px 0px;
}

.fa-star {
    font-size: 20px;
    color: #f7931e;
}

.fa-laptop {
    font-size: 5em;
    background: #f7931e;
    border-radius: 50%;
    padding: 10px;
}

.fa-medal {
    font-size: 5em;
    background: #f7931e;
    border-radius: 50%;
    padding: 10px;
}

.fa-user-tie {
    font-size: 5em;
    background: #f7931e;
    border-radius: 50%;
    padding: 10px;
}







/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    /*general classes*/
    .mobile-only {
        display: none;
    }
    .tablet-only {
        display: block;
    }
    .container-fluid{
        padding: 10px 50px;
    }

    .btn {
        background: #eb5e28;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 50px;
        width: 25vw;
        border-radius: 25px;
    }

    /*header section*/
    .block{
        padding: 15% 20%;
    }


    /* About Me section */
    .myImage {
        width: 250px;
        margin-left: 30%;
    }

    .myPic {
        width: 250px;
    }


    .skills {
        text-align: center;
    }
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
    .tablet-down{
        display: none!important;
    }

    .desktop-only {
        display: block;
    }

    .btn {
        background: #eb5e28;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 50px;
        width: 20vw;
        border-radius: 25px;
    }


    .myImage {
        width: 250px;
    }

    .myPic {
        width: 250px;
    }


    .testimonials {
        padding: 20px;
    }

    .inTouchBlock {
        padding: 20px;
    }
    
}

/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
    /*general classes*/
    .mobile-only.tablet-only {
        display: none;
    }
    .desktop-only.hide-on-mobile {
        display: block;
    }

    .btn {
        background: #eb5e28;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 50px;
        width: 15vw;
        border-radius: 25px;
        margin-left: 2px;
    }

    .deskNav {
        display: block;
    }



    /*header section*/
    .block{
        padding: 5% 38%;
    }

    .all-icons{
        text-align: right;
    }

    .logo {
        z-index: 10;
        margin-bottom: 100%;
    }

    .name {
        color: #f7931e;
        margin: 0;
    }

    .navText {
        display: inline;
    }

    .deskNav {
        margin-left: 30%;
    }


    /* Hi section */
    .arrow {
        border: 1px solid grey;
        border-radius: 20px;
        width: 35px;
        text-align: center;
        margin-left: 50%;
        margin-top: 10%;
        font-weight: 200;
        height: 60px;
    }


    
    /*About Me Section*/
    .aboutblock {
        background: rgb(46, 44, 44);
        margin-top: 20px;
    }

    .devSec {
        background: #eb5e28;
        padding: 20px;
        margin: 30px 5px;
    }

    .aboutGreyBlock {
        padding: 80px;
    }

    .myImage {
        width: 250px;
    }
    
    .myPic {
        width: 250px;
    }



    /* I am an ADA graduate Section */
    .adaLogo {
        width: 80%;
    }



    /* Testimonials */
    .everything {
        margin: 50px;
        padding: 40px;
    }



    /* Get in touch Section */
    .touchContent {
        margin: 2px 200px;
    }





    /* =================================================================================================================
    ==================================================================================================================== */

    /* RESUME Page */
    .skills {
        color: white;
        background: #eb5e28;
    }

    .skillsHead {
        color: white;
    }

    .fa-star {
        color: white;
    }

    .fa-award {
        font-size: 5em;
        background: #f7931e;
        border-radius: 50%;
        padding: 10px;
    }
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}